{{template "base/head" .}}
<div class="page-content home">
        <div style="margin:auto; width:100%; position: fixed; padding-top:14px">
                <canvas id="c"></canvas>
        </div>
        <div class="ui stackable middle very relaxed page grid">
                <div class="sixteen wide center aligned centered column">
                        <div>
                                <img class="logo" width="180" height="180" src="{{AssetUrlPrefix}}/img/logo.svg"/>
                        </div>
                        <div class="hero">
                                <h1 class="ui icon header title">
                                        <pre>{{AppName}}</pre>
                                </h1>
                                <h3>{{.locale.Tr "startpage.app_desc"}}</h3>
                        </div>
                </div>
        </div>
</div>
<script src="{{AssetUrlPrefix}}/js/theme-matrix.js"></script>
